﻿@{
    ViewBag.Title = "Home Page";
}

<div class="label-info">
    <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40"
             aria-valuemin="0" aria-valuemax="30" style="width:100%">
        </div>
    </div>
    <h1>BENİM BLOG</h1>
    <h3>Erdem Kalaycı numara: b151210118</h3>
    <p class="lead">Teknoloji makale-yorum blog sitesi konu.</p>
    <ul class="pagination">
        <li><a href="#">Yazar_adı_1</a></li>
        <li><a href="#">Yazar_adı_2</a></li>
        <li><a href="#">Yazar_adı_3</a></li>
        <li><a href="#">Yazar_adı_4</a></li>
        <li><a href="#">Yazar_adı_5</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
                <div id="myCarousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                        <li data-target="#myCarousel" data-slide-to="3"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <img src="~/Content/images/foto4.jpg" alt="" />
                            <a href="">Samsung Telefonlardaki Batarya Sorunu>>>>>>> </a>                         
                        </div>

                        <div class="item">
                            <img src="~/Content/images/foto2.jpg" alt="" />
                            Bu ayın en çok okunan makalesi>>>>>>>
                            <a href=""> Oyunlardaki Sanal Gerçeklik </a>
                        </div>

                        <div class="item">
                            <img src="~/Content/images/foto1.jpg" alt=""/>
                            Son eklenen makale>>>>>>
                            <a href=""> Yeni Çıkan Cep Telefonlarının Özellikleri </a>
                        </div>

                        <div class="item">
                            <img src="~/Content/images/foto3.jpeg" alt="" />                        
                            <a href=""> Tabletlerdeki Ekran Sorunu>>>>>>></a>
                        </div>
                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div id="myCarousel1" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel1" data-slide-to="1"></li>
                <li data-target="#myCarousel1" data-slide-to="2"></li>
                <li data-target="#myCarousel1" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="~/Content/images/resimyok.png" alt="" />
                    @Html.ActionLink("Yazarlar", "Index", "Home")
                </div>

                <div class="item">
                    <img src="~/Content/images/resimyok.png" alt="" />
                    @Html.ActionLink("Yazarlar", "Index", "Home")
                </div>

                <div class="item">
                    <img src="~/Content/images/resimyok.png" alt="" />
                    @Html.ActionLink("Yazarlar", "Index", "Home")
                </div>

                <div class="item">
                    <img src="~/Content/images/resimyok.png" alt="" />
                    @Html.ActionLink("Yazarlar", "Index", "Home")
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel1" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel1" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h1>Makaleler</h1>
        <p>
            Spor,tarih,teknoloji,bilgisayar konularında katogorize edilmiş tüm makaleler okuyabilirsin......
        </p>
        <p><a class="btn btn-danger" href="">Daha Fazla Bilgi&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h1>Resimler</h1>
        <p>Yüklenen resimler.......</p>
        </br>
        <p><a class="btn btn-danger" href="">Daha Fazla Bilgi &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sosyal Medya</h2>
        <p>Twitter,Facebook,İnstragam hesapların blog sitesini takip edebilirsiniz.......</p>
        <p><a class="btn btn-danger" href="">Daha Fazla Bilgi &raquo;</a></p>
    </div>
</div>
