﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -blok</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @Html.ActionLink("Anasayfa", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Makaleler", "Index", "Home")</li>
                    <li>&nbsp &nbsp &nbsp &nbsp &nbsp  </li>
                    <li>@Html.ActionLink("Yazarlar", "Index", "Home")</li>
                    <li>&nbsp &nbsp &nbsp &nbsp &nbsp </li> 
                    <li>@Html.ActionLink("Site Hakkında", "About", "Home")</li>
                    <li>&nbsp &nbsp &nbsp &nbsp &nbsp  </li> 
                    <li>@Html.ActionLink("İletişim", "Contact", "Home")</li>
                    <li>&nbsp &nbsp &nbsp &nbsp &nbsp  </li>
                    <li>@Html.ActionLink("Giriş", "Index", "Home")</li>
                    <li>&nbsp &nbsp &nbsp &nbsp  </li>
                    <li>@Html.ActionLink("Kayıt", "Index", "Home")</li>               
                </ul>
                <div class="nav navbar-nav navbar-right col-md-4">
                    <div class="col-md-3">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">TR <span class="caret"></span></button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <li><a href="#">EN</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="input-group">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Ara</button>
                            </span>
                            <input type="text" class="form-control" placeholder="Arama...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Blog sitesi</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
